<ion-searchbar color="light" animated cancelButtonIcon="md-arrow-back"></ion-searchbar>

<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
      </ion-buttons>
    <ion-title>Einstellungen</ion-title>
  </ion-toolbar>
</ion-header>

  <!-- fab placed to the bottom end -->
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
      <ion-fab-button>
        <ion-icon name="arrow-dropleft"></ion-icon>
      </ion-fab-button>
    </ion-fab>

  <ion-item>
    <ion-label >Darkmode</ion-label>
    <ion-toggle [(ngModel)]="Darkmode" disabled="false" color="danger"></ion-toggle>
  </ion-item>
  <ion-item>
      <ion-label >Audio</ion-label>
      <ion-toggle [(ngModel)]="Audio" disabled="false" color="primary"></ion-toggle>
  </ion-item>
  <ion-item>
    <ion-label >Ads</ion-label>
    <ion-toggle [(ngModel)]="Ads" disabled="false" color="success"></ion-toggle>
  </ion-item>

<ion-content>

</ion-content>