#score {
  font-size: 20px;
  width: 100%;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}

#fragen {
  width: 90%;
  min-height: 150px;
  margin-right: 5%;
  margin-left: 5%;
  text-align: center;
  vertical-align: middle;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.08), 0 3px 10px 0 rgba(0, 0, 0, 0.05);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 6vw;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#antwortsehen {
  width: 80%;
  text-align: center;
  margin-left: 10%;
  margin-top: 5vw;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 4vw;
  font-weight: thin;
}

#buttons {
  width: 100%;
  margin-top: 20vw;
}

#wrong {
  width: 40%;
  margin-left: 9%;
  height: 20vw;
}

#right {
  width: 40%;
  height: 20vw;
}

#reset {
  width: 81%;
  margin-left: 10%;
}

#textNichtDa {
  width: 80%;
  margin-left: 10%;
  text-align: center;
  font-size: 25px;
  margin-top: 10vw;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.08), 0 3px 10px 0 rgba(0, 0, 0, 0.05);
  border-radius: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
}

#linkFragen {
  width: 70%;
  height: 80px;
  margin-left: 15%;
  margin-top: 20vw;
  font-size: 5vw;
  font-weight: bold;
}
