<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Quiz
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf = "frage">

  <div id="score">
    <p>SCORE:{{ richtig }}/{{ insgesamt }}</p>
 
  </div>

  <div id="fragen" (click)="antwortAnzeigen()">
      <p [hidden]="antwortSichtbar">{{ frage.text | uppercase }}</p>
    	<p [hidden]="!antwortSichtbar">{{ frage.antwort | uppercase }}</p>
  </div>

  <p id="antwortsehen">AUF DIE FRAGE DRÜCKEN UM ANTWORT ZU SEHEN</p>

  <div id="buttons">

  <ion-button id="wrong" color="danger" (click)="neinGeklickt()">Falsch</ion-button>
  <ion-button id="right" color="success" (click)="jaGeklickt()">Richtig</ion-button>
  <ion-button id="reset" color="medium" (click)="resetGeklickt()">NEUSTART</ion-button>

  </div>

</div>

  <div *ngIf = "!frage">

    <p id="textNichtDa">Um zu spielen erstelle neue Fragen im Menüpunkt "Fragen erstellen"</p>

    <ion-button id="linkFragen" color="warning" [routerLink]="['/frage']">FRAGE ERSTELLEN</ion-button>

  </div>
</ion-content>