<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      QUIZ
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div id="score">
    <p>SCORE:</p>
 
  </div>

  <div id="fragen">
      <p>{{ meinText }}</p>

  </div>

  <p id="antwortsehen">AUF DIE FRAGE DRÜCKEN UM ANTWORT ZU SEHEN</p>

  <div id="buttons">

  <ion-button id="wrong" color="danger">Falsch</ion-button>
  <ion-button id="right" color="success">Richtig</ion-button>

  </div>
