<ion-card class="welcome-card">
  <img src="https://cdn.pixabay.com/photo/2014/08/11/08/19/learn-415341_960_720.jpg
  " alt="" />
  <ion-card-header>
    <ion-card-subtitle>Lern-App</ion-card-subtitle>
    <ion-card-title>willkommen</ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <p>Klicke auf den unteren Knopf um zu starten!</p>
  </ion-card-content>
</ion-card>

<ion-button expand="block" (click)="geklickt()">Los<ion-icon name="arrow-forward" size="small"></ion-icon></ion-button>

<ion-button>{{ wert }}</ion-button>