<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Freunde</ion-title>
  </ion-toolbar>
</ion-header>

<ion-searchbar
  color="light"
  cancleButtonicon="md-arrow-back"
  animated
  [(ngModel)]="suche"
  (keyup)="suchen($event)"
></ion-searchbar>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let freund of freunde">
      <ion-avatar class="avatar">
        <img
          src="https://www.pngfind.com/pngs/m/610-6104451_image-placeholder-png-user-profile-placeholder-image-png.png"
        />
      </ion-avatar>
      <ion-label>{{freund}}</ion-label>
    </ion-item>
  </ion-list>

  <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
    <ion-infinite-scroll-content
      loadingSpinner="bubbles"
      loadingText="Loading more data..."
    >
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="warning">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
