#headercontainer {
    width: 90%;
    border-radius: 20px;
    margin-left: 5%;
    margin-right: 5%;
}

#header {
    width: 90%;
    margin-left: 5%;
    text-align: center;
} 

h1 {
    font-size: 7vw;
}

#hinzufuegen {
    width: 50%;
    margin-left: 25%;
    margin-top: 25vw;
}