<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      FRAGEN
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div id="headercontainer">
  <div id="header">

    <h1>GIB HIER DIE FRAGEN EIN DIE DU SPÄTER AGBEFRAGT WERDEN WILLST</h1>

  </div>

  <ion-item>
    <ion-label position="floating">DEINE FRAGE</ion-label>
    <ion-input></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">DEINE ANTWORT</ion-label>
    <ion-input></ion-input>
  </ion-item>

  </div>

  <ion-button id="hinzufuegen" color="medium">HINZUFÜGEN</ion-button>

</ion-content>
