#textFrage {
    text-align: center;
    font-size: 21px;
    width: 80%;
    margin-left: 10%;
    margin-top: 10%;
    margin-bottom: 20%;
}

#hinzufuegen {
    width: 50%;
    margin-top: 25vw;
    margin-left: 25%;
}
