<ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
          <ion-title>Profil</ion-title>
    </ion-toolbar>
  </ion-header>
  
<ion-content>

<ion-avatar class="avatar">
  <img src="https://www.pngfind.com/pngs/m/610-6104451_image-placeholder-png-user-profile-placeholder-image-png.png">
</ion-avatar>

<ion-item class="Name">
  <ion-label position="floating">Dein Name</ion-label>
  <ion-input></ion-input>
</ion-item>

<ion-item>
  <ion-label position="floating">Deine Frage</ion-label>
  <ion-input></ion-input>
</ion-item>

</ion-content>
