<ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>
        Home
      </ion-title>
    </ion-toolbar>
</ion-header>



<ion-content>
    <ion-card class="welcome-card">
        <img src="/assets/karteikarten.png" alt="" />
        <ion-card-header>
          <ion-card-title>Willkommen bei Voc-App</ion-card-title>
          <ion-card-subtitle>Lerne ganz nebenbei</ion-card-subtitle>
        </ion-card-header>
      </ion-card>
    <ion-button class="block" expand="block" color="success" routerLink="/kaspar">Sign In</ion-button>
  </ion-content>


